{% extends "layouts/app.html" %}
{% block content %}
<h1 class="page-title">{{ title }}</h1>
<div class="card-jdm"><form method="post">{{ form.hidden_tag() }}
<div class="row g-3">
  <div class="col-md-4">{{ form.customer_id.label(class="form-label") }}{{ form.customer_id(class="form-select") }}</div>
  <div class="col-md-4">{{ form.deliverer_id.label(class="form-label") }}{{ form.deliverer_id(class="form-select") }}</div>
  <div class="col-md-4">{{ form.item_id.label(class="form-label") }}{{ form.item_id(class="form-select") }}</div>
  <div class="col-md-3">{{ form.estimated_value.label(class="form-label") }}{{ form.estimated_value(class="form-control") }}</div>
  <div class="col-md-3">{{ form.negotiated_price.label(class="form-label") }}{{ form.negotiated_price(class="form-control") }}</div>
  <div class="col-md-3">{{ form.paid_price.label(class="form-label") }}{{ form.paid_price(class="form-control") }}</div>
  <div class="col-md-3">{{ form.payment_method.label(class="form-label") }}{{ form.payment_method(class="form-select") }}</div>
  <div class="col-md-4">{{ form.status.label(class="form-label") }}{{ form.status(class="form-select") }}</div>
  <div class="col-12">{{ form.observations.label(class="form-label") }}{{ form.observations(class="form-control", rows=2) }}</div>
  <div class="col-12 form-check ms-2">{{ form.declaration_accepted(class="form-check-input") }} {{ form.declaration_accepted.label(class="form-check-label") }}</div>
</div>
<div class="mt-3">{{ form.submit(class="btn btn-jdm") }}</div>
</form></div>
{% endblock %}